<div class="card mb-3  text-center">
  <img
    class="card-img-top"
    src="../../../assets/chat.img.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title  ">Ömer Özoğlu</h5>
    <p class="card-text">omerozoglu.1@gmail.com</p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
  <div class="card-body">
    <app-users *ngIf="isSelected == 1"></app-users>
  </div>
  <div class="card-body">
    <a href="" class="card-link">users</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
